<h2>Add tasks to <%= @workshop.title %></h2>

<%= form_for @workshop do |f| %>
<%# Display check boxes for all tasks and pre-select any already associated with the workshop %>
  <p>Your tasks</p>
  <ul class="checkbox-group">
    <%= f.collection_check_boxes(:task_ids, @personal_tasks, :id, :task_details) do |b| %>
      <li><%= b.label class: "checkbox-label" do%>
        <%= b.check_box %>
      <span class="checkbox-text"><%= b.text %></span>
      <% end %></li>
    <% end %>
  </ul>


  <p>Suggested for you</p>
  <ul class="checkbox-group">
  <%= f.collection_check_boxes(:task_ids, @template_tasks, :id, :task_details) do |b| %>
    <li><%= b.label class: "checkbox-label" do%>
      <%= b.check_box %>
     <span class="checkbox-text"><%= b.text %></span>
    <% end %></li>
  <% end %>
  </ul>
  <br>

  <%= f.submit  class: "primary-button"%>
<% end %>

<%= link_to 'Create a task', new_task_path %>