<div class="workshops">
<% if @current_user.present? %>
    <div class="section-heading">
        <h2>My workshops</h2>
    </div>
    <ul class="tile-group">
        <li>
            <%= link_to new_workshop_path, class: "workshop-tile new-workshop" do %>
                <div class="create-symbol">+</div>
                <p>Add a workshop</p>
            <% end %>
        </li>
        <% @workshops_personal.each do |workshop| %>
            <li>
                <%= link_to workshop_path(workshop.id), class: "workshop-tile"  do %>
                    <strong><%= workshop.title %></strong>
                    <p><%= workshop.description %></p>
                <% end %>
            </li>
        <% end %>
        <li class="filling-empty-space-childs"></li>
        <li class="filling-empty-space-childs"></li>
    </ul>
    <br>
<% end %>
<div class="section-heading">
    <h2>Suggested workshops</h2>
</div>
<ul class="tile-group">
    <% @templates.each do |workshop| %>
        <li>
            <%= link_to workshop_path(workshop.id), class: "workshop-tile"  do %>
                <strong><%= workshop.title %></strong>
                <p><%= workshop.description %></p>
            <% end %>
        </li>
    <% end %>
    <li class="filling-empty-space-childs"></li>
    <li class="filling-empty-space-childs"></li>
</ul>
<br>
<% if @workshops_public.present? %>
<div class="section-heading">
    <h2>Workshops created by others</h2>
</div>
<ul class="tile-group">
    <% @workshops_public.each do |workshop| %>
        <li>
            <%= link_to workshop_path(workshop.id), class: "workshop-tile"  do %>
                <strong><%= workshop.title %></strong>
                <p><%= workshop.description %></p>
            <% end %>
        </li>
    <% end %>
    <li class="filling-empty-space-childs"></li>
    <li class="filling-empty-space-childs"></li>
</ul>
<% end %>
</div>
</div>
