<article class="workshop">
   <header class="workshop-description">
      <h2><%= @workshop.title %></h2>
      <p><%= @workshop.description %></p>
      <% if @workshop.user.present?%>
      <p><%= @workshop_time %></p>
         <p>Created by: <%= @workshop.user.username %></p>
      <% end %>
      <p>Private? <%= @workshop.private %></p>
   </header>
   <br>
   <section class="task-list">
      <ul>
         <% @workshop.tasks.each do |task| %>
         <li>
            <span class="task-details">
            <%= link_to task.title, task_path(task.id) %>
            <%= seconds_to_string(task.time) unless task.time == nil %>
            </span>
            <span class="description"><%= task.description%></span>
         </li>
      <% end %>
      <%# Display total time %>
      <li>
         <span class="task-details">
            <p>Total time</p>
            <%= @workshop_time %>
         </span>
      </li>
      </ul>
   </section>
   <nav aria-label="Workshop menu">
      <ul>
      <%# Only the creator of the workshop can edit/delete/add tasks%>
      <% if @current_user.present? %>
         <% if @current_user == @workshop.user %>
            <li><%= link_to 'Add Tasks', edit_workshop_tasks_path %></li>
            <li><%= link_to 'Edit', edit_workshop_path(@workshop.id) %></li>
            <li><%= link_to 'Delete', workshop_path(@workshop.id), method: 'delete' %></li>
         <% else %>
         <%# User must be signed in to clone a workshop%>
            <li><%= link_to 'Clone workshop', clone_workshop_path %></li>
         <% end %>
      <% end %>
      </ul>
   </nav>
</article>
