<p><%= @task.title %></p>
<p><%= @task.description %></p>
<p>Number of participants: <%= @task.num_participants.to_s %></p>
<p><%= @task.tools %></p>
<p><%= @task_time %></p>
<% if @task.user.present?%>
   <p> Created by: <%= @task.user.username %></p>
<% end %>
<p>Private? <%= @task.private %></p>

<strong>Belongs to workshop:</strong>
<%= link_to "Back to #{@task.workshop.title}", workshop_path(@task.workshop_id) %>

<%= link_to 'Edit', edit_task_path(@task.id) %>
<%= link_to 'Delete', task_path(@task.id), method: 'delete' %>
