<h2>Join</h2>

<% if @user.errors.full_messages.any? %>
  <strong>Errors:</strong>
  <ul>
    <% @user.errors.full_messages.each do |error| %>
    <li><%= error %></li>
    <% end  %>
  </ul>
<% end %>

<%# TODO: Move form to partial %>
<%# Create account form %>
<%= form_with model: @user, local: true do |f| %>

    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit 'Create account' %>

<% end %> 
