<!DOCTYPE html>
<html>
  <head>
    <title>WorkshopPlannerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <header>
    <nav>
    <h1>Workshop Planner</h1>

    <% if @current_user.present? %>
      Welcome YOU, <%= @current_user.username %>
      |
      <%= link_to 'Logout', login_path, method: 'delete' %>
    <% else %>
      <%= link_to 'Login', login_path %>
      |
      <%= link_to 'Join', new_user_path %>
    <% end %>
    
    </nav>
    <hr>
    <%= yield %>

    <footer> &copy; nimisaya, 2020 </footer>
  </body>
</html>
